html{
scroll-behavior: smooth;
}
body,html,section,h1,p{
	margin: 0px;
	box-sizing: border-box;
	padding: 0px;

}
h1{
	font-family: 'Lato', sans-serif;
}
p{
	font-family: 'Roboto Slab', serif;
}

.home{
	position: relative;
	width: 100%;
	background-color:#fff;
	
	}
.home .background{
	width: 100%;
}

.home div{
	position: absolute;
    width: 50%;
    left:24%;
    right:24%;
    top: 25%;
    padding: 10px;
	text-align:center;

}

.home div .logo{
width:15%;
}
.home div h1{
	font-size: 4vw;
	margin-top:5%;
	color: #fff;
}

.home div p{
	color: #fff;
	font-size: 1vw;
}

.bouncing_image {

	position: absolute;
	bottom: 0px;
	left: 48%;
    animation: bouncing_image 3s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes bouncing_image {
    0%{transform: translateY(0px);}
    5%{transform: translateY(0px);}
    25%{transform: translateY(-70px);}
     50%{transform: translateY(0px);}
       75%{transform: translateY(-40px);}
         95%{transform: translateY(0px);}
}

/* ********************** ABOUR Section ***************/
.about_section{
	width: 100%;
padding: 40px 10px;
text-align: center;
}
.about_section div{
	width: 80%;
margin: 0px auto;
}

.about_section div h1{
	margin: 10px 0px;
	font-size: 4vh;
}


.about_section div p{
	margin:10px 0px;
	font-size: 1.5vw;
}

/* *********************** Service Section ********/
.service{
	width: 100%;
	position: relative;
	color: #fff;
}
.service img{
	width: 100%;
}
.service div{
	position: absolute;
    width: 80%;
    left:9%;
    right:9%;
    top: 20%;
    padding: 10px;
	text-align:center;
}
.service h1{
font-size: 4vh;
}
.service p{
	font-size: 1.5vw;
	margin: 0px;
}


/***************** Portfolio *********************/

.portfolio{
	padding: 30px 0px;
}
.portfolio h1{
	text-align: center;
}
.portfolio_container{
	width: 80%;
	margin: 0px auto;
}
.port_div{
display: flex;

 flex-wrap: wrap;
align-items: center;
  justify-content: space-between;
}
/* Text to be revealed when user hovers the images */
.img__wrap {
margin: 10px 0px ;
	flex:0 1 21%;
  position: relative;
  border: 1px solid white;
}
.img__wrap img{
	width: 100%;
}
.div_with_opacity {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(222, 222, 222, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .div_with_opacity	 {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
  font-size: 2vw;
  background-color: #4358ff;
  padding:2%;
  border-radius: 10px;

}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

